/* UNIVERSAL SELECTOR */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY SECTION */
body{
    height: 200rem;
    max-width: 100rem;
    margin: 0rem 20rem;
    border-left: 0.50em solid rgba(0, 0, 0, 0.932);
    border-right: 0.50em solid black; 
    padding: 1rem;    
}

/* IMAGE SECTION */
img{
    width: 650px;
    margin: 0em 0em 1.50em;
}

/* ARTICLE SECTION */
.photo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.90em;
    text-align: justify;

}

/* ID */
.id ::first-letter {
    color: yellow;
    font-size: 8em;
}



/* A TAG */
a{
    text-decoration: none;
}

/* LINKED */
.linked{
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
    color: yellowgreen;
}

