
/*UNIVERSAL SELECTOR  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY PART */
body{
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    font-size: 1rem;
    border-left: 0.5em solid rgba(0, 0, 0, 0.932);
    border-right: 0.5em solid black; 
    
    
}

.contact_address{
    font-size: 20em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* CONTACT FORM */
.contact_form{
    
    text-align: none;
}

/* INPUT FORM */
input[type=text], input[type=number], input[type=email], input[type=message] {
    width: 100%;
    padding: 1em;
    border: 1px solid rgb(26, 35, 66);
    font-size: large;
    margin: 1rem 1.50rem 0 0;
}

/* TEXT AREA */
textarea [name=message] {
    width: 90%;
    margin: 20rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
}


/* button */
 button{
    height: 2em;
    margin: 1em 0em;
    background-color: rgb(194, 88, 26);
    padding: 1em;

    
}

/* PLACEHOLDER */
:placeholder-shown{
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    width: 20rem;
    /* padding: 12em 20em; */
    
}

/* CONTAINER CLASS */
.container{
    padding: 20px;
    background-color: aliceblue;    
}

/* LAST PART CLASS */
.last_part{
    font-family: 'Times New Roman', Times, serif;
    color: green;
    font-size: 2em;
    text-align: center;
    margin: 0rem 0rem 2rem 0rem;
    font-weight: 900;
}

/* UNORDER LIST TAG */
ul{
    list-style-type: none;
}

/*FOOTER PART*/
.footer_part{
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    text-align: center; 
}

#message{
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    
}

a{
    text-decoration: none;
}

.address span, .phone_contact, .email_contact {
    color: green;
    font-size: 1.50em;
    
}

a:active{
color: green;
}

a:hover{
border-color: red;
}

a:visited{
color: greenyellow;
}