/*UNIVERSAL SELECTOR  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY PART */
body{
    height: 100rem;
    max-width: 100rem;
    margin: 0rem 20rem;
    border-left: 0.50em solid rgba(0, 0, 0, 0.932);
    border-right: 0.50em solid black; 
    
}

/* CONTACT FORM */
.contact_form{
    font-size: 2em;
    text-align: none;
}

/* INPUT FORM */
input[type=text], input[type=number], input[type=email], input[type=message] {
    width: 40em;
    padding: 1em;
    border: 1px solid rgb(26, 35, 66);
    font-size: large;
    margin: 1rem 1.50rem 0 0;
}

/* INPUT  */
input[type=submit] {
    color:green;
    width: 20%;
    font-size: large;
}

/* TEXT AREA */
textarea [name=message] {
    width: 90%;
    margin: 20rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large
}



 /* button:nth-child(1){
    width: 900%;
    margin: 20rem;
} */

/* PLACEHOLDER */
:placeholder-shown{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    width: 20rem;
    padding: 5rem;
}

/* CONTAINER CLASS */
.container{
    padding: 20px;
    background-color: aliceblue;    
}

/* LAST PART CLASS */
.last_part{
    font-family: 'Times New Roman', Times, serif;
    color: green;
    font-size: 2em;
    text-align: center;
    margin: 0rem 0rem 2rem 0rem;
    font-weight: 900;
}

/* UNORDER LIST TAG */
ul{
    list-style-type: none;
}

/*FOOTER PART*/
.footer_part{
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    text-align: center; 
}

/* BUTTON PART */
.button-container{
    position: relative;
    width: 20rem;
    margin: 20rem;
}