/* UNIVERSAL SELECTOR */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY PART */
body{
    min-height: 100vh;
    max-width: 800px;
    margin: 0rem auto;
    border-left: 0.50em solid rgba(0, 0, 0, 0.932);
    border-right: 0.50em solid black; 
    padding: 1rem;
}

/* LIST  */
.list_item{
    display: flex;
    font-size: 3rem;
    color: rebeccapurple;
    font-family: 'Times New Roman', Times, serif;
    border-style: ridge;
    justify-content: space-around;
    background-color: skyblue;
    margin: 0rem 0re 0rem 5rem;    
}

/* A TAG */
a{
    text-decoration: none;
}

/* H1 HEADING */
h1{
    text-align: center;
    font-size: 5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* IMAGE  */
img{
    width: 550px;
    border-radius: 1rem;
    margin: 0.50em 2em 0em 0.50em;
}

/* SECOND PART */
.second_part{
    font-size: 2em;
}

/* ARTICLE NEWS */
.article_news{
    font-size: 1rem;
    text-align: justify;
    margin:1em 1em 1.50em 1em ;
}

/* LINKED */
.linked{
    margin:2em 5em 5em 2em ;
    width: 15em;
    font-size: 2em;
    margin: 2em;
    text-align: center;
    /* border: solid blueviolet;
    border-radius: 10rem;
    padding: 1em; */
}

/* NEPAL CLASS */
.nepal_photo{
    width: 2em;
}