*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100rem;
    max-width: 100rem;
    margin: 0rem 20rem;
    border-left: 0.50em solid rgba(0, 0, 0, 0.932);
    border-right: 0.50em solid black; 
    /* padding: 1rem; */
    
}

.header_first{
    font-size: 3rem;
}

a{
    text-decoration: none;
}

.home_bottom{
    border-right: 1em;
    /* border: 0.50em solid black; */
    font-size: xx-large;
    
}

.heading_second{
    margin: 2rem;
    font-size: 3em;
}
.image_first{
    /* outline: 0.10em solid black; */
    /* width: 25px;
    margin: 25px; */
}

.main_section{
    /* border: 0.50rem solid red; */
}

.first_p{
    font-size: 1.90em;
    text-align: left;
}

.second_p{
    font-size: 1.90em;
    text-align: left;
}

.third_p{
    font-size: 1.90em;
    text-align: left;
}

.second_photo{
    align-items: center;
}

