/* UNIVERSAL SELECTOR */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY SELECTOR */
body{
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    border-left: 0.50em solid rgba(0, 0, 0, 0.932);
    border-right: 0.50em solid black; 
    padding: 1rem;
}

/* HEADER FIRST */
.header_first{
    font-size: 3em;
    text-align: justify;
    
}

/* A TAG */
a{
    text-decoration: none;
}

/* HEADING SECTION */
.heading_second{
    margin: 2rem 0 0;
    font-size: 3em;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

p::before{
    color: rebeccapurple;
}

/* FIRST SECTION */
.first_p{
    font-size: 1.90em;
    text-align: justify;
    margin: 0em 1em;

}

/* SECOND SECTION */
.second_photo{
    align-items: center;
    margin: 1.75rem 0 0 0;
}

/* IMAGE SELECTOR */
img{
    float: left;
    border-radius: 2em;
    margin: 1em;
}

/* SECTION SELECTOR */
.section_article{
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin: 1em;
}

/* HOME BOTTOM */
.home_bottom{
    font-size: xx-large;
    text-align: center;
    
}