/* UNIVERSAL SELECTOR */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY PART */
body{
    height: 200rem;
    max-width: 100rem;
    margin: 0rem 20rem;
    border-left: 0.50em solid rgba(0, 0, 0, 0.932);
    border-right: 0.50em solid black; 
    
}

/* UL */
ul{
    list-style-type: none;
}

/* A */
a{
    text-decoration: none;
}

/* HEADING */
.heading_first{
    text-align: center;
    font-size: 4em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0em;

}

/* LIST  */
.list_item{
    display: flex;
    font-size: 2.50rem;
    color: rebeccapurple;
    font-family: 'Times New Roman', Times, serif;
    border-style: ridge;
    justify-content: space-between;
    margin: 1rem 0re 0rem 2rem;
    line-break: 2rem;
    
}

/* H1 HEADER */
h1{
    color: rgba(19, 18, 18, 0.918);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
    margin: 2rem;
}

/* MAIN PART */
.main_part{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER FIRST */
.header_first{
    margin: 0.50em 0 0 0;
    font-size: 3.50em;
    font-family: 'Times New Roman', Times, serif;
}

/* SECOND PART */
.second_p{
    margin: 0.50em 0em 0.50em 0em;  
    float: right;
}

/* CLASS NEPAL */
.nepal_investment{
    width: 200px;
    margin: 0.50em 5em;
}

/* MOUNTAIN */
.mountain_photo{
    width: 400px;
    margin: 0.50em 5em;
}

/* HEADER */
.header_second{
    font-size: 2.50em;
    font-family: 'Times New Roman', Times, serif;
    margin: 1em 0em 0em 0em;
   
}

/* MAIN SECTION */
.main_section{
    font-size: 2em;
    text-align: justify;
}

/* FIRST ARTICLE */
.article_first{
    font-size: 2em;
    text-align: justify;
    margin: 0.50em;
}  

/* THIRD ARTIVEL */
.third_article{
    font-size: 2em;
    text-align: justify;
    margin: 1rem 1rem 1rem 1rem;
}

/* FLOAT CLASS */
.float_class{
    float: left;
}

/* LAST HEADER */
.last_header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

/* IMAGE */
img{
    width: 500px;
    
}

/* CONTAINER */
.container{
    overflow: scroll;
    background-color: red;
    height: 100%;
    border-radius: 6px;
    border: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* ARTICLE */
.third_article ::first-letter {
    color: rgb(0, 136, 255);
    font-size: 10rem;
}
/* ARTICLE */
.third_article ::before {
    color: green;
    font-size: 11rem;
}

/* .first_header{
    color: red;
    font-size: 2rem;
} */
