@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

/* UNIVERSAL SELECTOR */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* BODY PART */
body{
    /* min-height: 100vh;
    max-height: 100vh; */
    max-width: 100vw;
    max-width: 800px;
    margin: 0rem auto;
    border-left: 0.50em solid rgba(0, 0, 0, 0.932);
    border-right: 0.50em solid rgba(0, 0, 0, 0.959);
    font-size: 0.90rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem ;
    position: sticky;
    top: 0;
    margin: 1rem;
}

/* UL */
ul{
    list-style-type: none;
}

/* A */
a{
    text-decoration: none;
}

/* LIST  */
.list_item{
    display: flex;
    font-size: 2rem;
    color: rebeccapurple;
    font-family: 'Times New Roman', Times, serif;
    border-style: ridge;
    justify-content: space-around;
    background-color: skyblue;
    /* margin: 0rem 0re 0rem 5rem;     */
}

/* MAIN PART */
.main_part{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER FIRST */
.header_first{
    margin: 0.50em 0 0 0;
    font-size: 2em;
    font-family: "Lato", sans-serif;
    font-weight: 900;
}

/* SECOND PART */
.second_p{
    margin: 0.50em 0em 0.50em 0em;  
    float: right;
}

/* CLASS NEPAL */
.nepal_investment{
    width: 200px;
    margin: 0.50em 5em;
}

/* MOUNTAIN */
.mountain_photo{
    width: 400px;
    margin: 0.50em 5em;
}

/* HEADER */
.header_second{
    font-size: 2.50em;
    font-family: 'Times New Roman', Times, serif;
    margin: 1em 0em 0em 0em;
   
}

/* MAIN SECTION */
.main_section{
    font-size: 2em;
    text-align: justify;
    hyphens: auto;
}

/* FIRST ARTICLE */
.article_first{
    font-size: 2em;
    text-align: left;
    /* hyphens: auto; */
    margin: 0.50em;
}  

/* THIRD ARTIVEL */
.third_article{
    font-size: 2em;
    text-align: justify;
    margin: 1rem 1rem 1rem 1rem;
}

/* FLOAT CLASS */
.float_class{
    float: left;
}

/* LAST HEADER */
.last_header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

/* IMAGE */
img{
    width: 300px;
    
}

/* CONTAINER */
.container{
    /* overflow: scroll; */
    background-color: red;
    border-radius: 6px;
    border: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* ARTICLE */
.third_article ::first-letter {
    color: rgb(0, 136, 255);
    font-size: 10rem;
}
/* ARTICLE */
.third_article ::before {
    color: green;
    font-size: 11rem;
}

.header_second{
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    
}

.last_article{
    font-size: 2em;
}